/* Цвета */
:root {
    --basic-black:#323232;
    --basic-white:#ffffff;
    --nav-hover:#f8f7f4;
    --basic-background:#849d8f;
    --basic-subscription:#5a5a5a;
    --background-contacts:#fefefe;
    --nav-catalog-active:#ededed;
    --btn-background:#ed5a3c;
    --btn-hover-focus:#f17b64;
    --nav-active: #d07058;
    --br-re:#242424;
    --br-re:#e5e5e5;
    --br-re:#d3d3d2;
    --br-re:#999999;
    --br-re:#aba9a7;
    --br-re:#f26843;
    --br-re:#e74a35;
    --br-re:#663d15; 
    --br-re:#696969;   
    --br-re:#ac1000;
}


@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "roboto bold";
    src: url(../fonts/robotobold.woff2) format("woff2"), url(../fonts/robotobold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto bold";
    src: url(../fonts/robotobold.woff2) format("woff2"), url(../fonts/robotobold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "roboto medium";
    src: url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto medium";
    src: url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: roboto, arial, sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    background: var(--basic-background);
    color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.site-navigation-catalog:active {
    background: var(--nav-catalog-active);
    box-shadow: inset 0px 2px 1px #696969;
    border-radius: 26px;
}

/* Навигация по сайту */

.main-navigation {
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-navigation-link {
    font-weight: 700;
    color: var(--basic-white);
}

/*  Кнопки  */

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 2px 5px 0px A0200B, 76%;
    color: var(--basic-white);
    border-radius: 70px;
    text-decoration: none;
    background-color: var(--btn-background);
    box-shadow: 0px 2px 2px 0px AC1000, 64%;
    border-radius: 70px;
}

.btn:hover, .btn:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    border-radius: 70px;
}

.btn:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 70px;
}

.slider-btn {
    font-weight: 700;
    font-size: 32px;
    font-weight: 44px;
}

.button:hover, .button:focus {
    background-color: var(--btn-hover-focus);
}

/* отключение списка */

.main-site-navigation, .footer-info ul, .footer-social ul, .user-navigation, .slider-list, .offers-list, .user-navigation-list, .main-navigation-list, .advantages-list, .hits-list {
    list-style: none;
}

/* Навигация пользователя */

.main-site-navigation li a {
    display: inline-block;
    padding: 6px 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
}

.site-navigation-catalog:hover, .site-navigatition-catalog:focus {
    background-color: #f7f6f3;
    border-radius: 26px;
    color: black;
}

.site-navigation-catalog:active {
    background: var(--nav-catalog-active);
    box-shadow: inset 0px 2px 1px #696969;
    border-radius: 26px;
}

.site-navigation-catalog:hover, .user-navigation li:hover {
    background: var(--white-nav-hover);
    border-radius: 26px;
}

.site-navigation-catalog:hover>a, .user-navigation li:hover>a {
    color: black;
}

.site-navigation-catalog:active {
    border-radius: 26px;
    background: var(--nav-active);
}

.user-navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
}

/*Пользовательская навигация*/

.user-navigation {
    line-height: 18px;
    display: flex;
    align-items: center;
}

.user-navigation-item-search {
    color: var(--basic-white);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.item-search {
    background-image: url('../img/index/icon_search.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.item-exit {
    background-image: url('../img/index/icon_exit.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.item-busket {
    background-image: url('../img/index/icon_shop.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.user-navigation li {
    margin-left: 10px;
}

.user-navigation>li>a {
    display: flex;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--basic-white);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-navigation>li>a:hover, .user-navigation>li>a:focus {
    color: var(--basic-black);
    background: var(--white-nav-hover);
}

.user-navigation-item-search:hover, .user-navigation-item-search>li>a:focus {
    color: var(--basic-black);
    background: var(--white-nav-hover);
}

/*.item-search:hover, .item-search:focus {
    color: #323232;
}*/

/* Время работы и телефон*/

.header-contacts {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.header-phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: var(--basic-white);
}

/* Карусель*/

.slider-list {
    text-align: center;
    color: var(--basic-white);
}

.slider-title {
    box-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-white);
}

/* Промоакция */

.index-columns {
    font-weight: 700;
    background-repeat: no-repeat
}

.offers-item-malina {
    background: url(../img/index/malina.png);
    background-repeat: no-repeat;
    width: 560;
    height: 229;
}

.offers-item-chocolate {
    background: url(../img/index/chocolate.png);
    background-repeat: no-repeat;
    width: 560;
    height: 229;
}

.offers-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.offers-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.offers-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

/* Хиты */

.hits-list {
    display: inline-block;
    vertical-align: top;
}

.hits-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);
}

.item-price-product {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.product-weight {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

/* Преимущества */

.advantages-shop {
    color: var(--basic-black);
    background-image: url('../img/index/wafer2.png ');
    background-repeat: no-repeat;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.advantages-shop-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

/*.advantages-item {
                width: 49px;
                height: 49px;
              }*/

.item-icecream {
    background-image: url('../img/index/icon_icecream.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.item-organic {
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../img/index/icon_organic.svg');
}

.item-cow {
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../img/index/icon_cow.svg');
}

.item-therm {
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../img/index/icon_therm.svg');
}

/* Блог и подписка */

.blog-background-strawberry {
    background: url('../img/index/strawberry.png');
    width: 560;
    height: 220;
    background-repeat: no-repeat;
}

.offers-item-chocolate {
    background: url('../img/index/chocolate.png');
    width: 560;
    height: 229;
    background-repeat: no-repeat;
}

.blog-title {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.blog-link {
    font-weight: bold;
    color: var(--basic-black);
    font-size: 24px;
    line-height: 30px;
}

/*  Подписка  */

.subscription {
    width: 560px;
    height: 220px;
    background-color: var(--white-nav-hover);
    background-image: url("../img/index/bg-subscription.png");
    background-repeat: no-repeat;
}

.subscription p {
    color: var(--basic-subscription);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.subscription input {
    font-weight: bold;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/*  Контакты  */

.contacts {
    width: 303px;
    height: 306px;
    color: var(--basic-black);
    background-color: var(--background-contacts);
    background-repeat: repeat;
}

.contacts b {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.contacts p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.contacts-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

/*  Футер  */

.footer-info a {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-white);
}

.info-item-heart {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-copyright {
    font-size: 12px;
}

.copyright-text {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-copyright a {
    color: var(--basic-white);
}
