/* Цвета */

:root {
 
  --background-1: #849D8F; /* первая подложка */
  --background-2: #8996A6; /* вторая подложка */
  --background-3: #9D8B84; /* третья подложка */

  --basic-black: #000000;
  --basic-black-30: rgba(0, 0, 0, 0.3);

  --basic-white: #FFFFFF;
  --basic-white-dimmed: rgba(255, 255, 255, 0.2);
  --basic-white-half: rgba(255, 255, 255, 0.5);
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-white-40: rgba(255, 255, 255, 0.4); /*slider controls: hover*/
  --basic-white-70: rgba(255, 255, 255, 0.7);
  --basic-white-80: rgba(255, 255, 255, 0.8);

  --basic-neutral: #F8F7F4;
  --basic-neutral-50: rgba(248,247,244,0.5);
  --basic-dark: #323232;
  --basic-dark-20: rgba(50, 50, 50, 0.2);
  --basic-dark-dimmed: #5A5A5A;

  --additional-extra-dark: #231F20; /* hit sign */
  --additional-neutral-light: #D3D3D2; /* header input border */
  --additional-neutral-dark: #999999; /* input placeholder*/
  --additional-light: #FEFEFE; /* contacts section background */

  --accent: #E84D37;
  --accent-light: #D07058;
  --accent-dimmed: #F6B5A5; /* нажатие в каталоге*/
  --accent-extra-dimmed: #FBDED7; /* наведение в каталоге*/

  --special-dark: rgba(178, 178, 178, 0.52); /* modal input border */
  --special-bright: #1E90FF;
  --special-bright-dimmed: rgba(46, 136, 228, 0.52);
  --special-accent: #FFBC9E; /* catalog link hover and active */
  --special-accent-dimmed: rgba(255, 188, 158, 0.3); /* link border hover */
  --special-extra-dark: #2C2829; /* close button in cart*/
  --special-neutral-dark: #ABABAB; /* price filter circle*/
  --special-neutral: #CACAC7; /* cart bottom line*/

  /* shadows */

  --dark-shadow: #696969;
  --button-active-shadow: #942718;
  --button-hover-shadow: #AC1000;
  --button-shadow: rgba(85, 8, 0, 0.54);
  --button-big-shadow: rgba(172, 16, 0, 0.64);
  --button-text-shadow: rgba(160, 32, 11, 0.76);
  --price-text-shadow: rgba(49, 50, 53, 0.5);

  /* borders */

  --neutral-border: #CACAC7;


/* gradients */

  --accent-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --neutral-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/robotobold.woff2) format("woff2"), url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global */

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: var(--background-1);
  color: var(--basic-white);
  /* grid */
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  
}


img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

legend {
  font-size: 14px;
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  background-image: -o-linear-gradient(
    top,
    var(--basic-white-dimmed) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(var(--basic-white-dimmed)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(
    180deg,
    var(--basic-white-dimmed) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 100% 656px;
  background-repeat: no-repeat;
}
/* grid */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
}

/* Навигация по сайту */

.main-header {
  display: grid;
  grid-template-columns: max-content repeat(2, 1fr);
  grid-row-gap: 20px;
}

.main-navigation {
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
}

.main-navigation-link {
  font-weight: 700;
  color: var(--basic-white);
}


/*  Кнопки  */

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px var(--price-text-shadow);
  color: var(--basic-white);
  border-radius: 70px;
  text-decoration: none;
  background: var(--accent-gradient);
  box-shadow: 0 2px 2px var(--button-shadow);
}

.btn:hover, .btn:focus {
  background: var(--neutral-gradient), var(--accent-gradient);
  box-shadow: 0px 2px 2px var(--button-hover-shadow);
  border-radius: 70px;
}

.btn:active {
  background: var(--neutral-gradient), var(--accent-gradient);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
  border-radius: 70px;
}

.slider-btn {
  padding: 9px 23px;
  font-weight: 700;
  margin-left: -15px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}



/* отключение списка */

.site-navigation,
.info-list, 
.footer-social-list, 
.user-navigation,
.slider-list, 
.offers-list, 
.user-navigation-list, 
.main-navigation-list, 
.advantages-list, 
.hit-list, 
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Навигация пользователя */

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-left: auto;
  padding: 16px 0;
	margin:0 0 0 24px;
}

.site-navigation-link {
  position: relative;
	display: inline-block;
	vertical-align: top;
  padding: 6px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  text-decoration: none;
  
}

.site-navigation-item:hover, 
.site-navigatition-item:focus {
  background-color: var(--background-catalog);
  border-radius: 26px;
  color: var(--basic-black);
}

.site-navigation-item:active {
  background: var(--accent-light);
  box-shadow: inset 0px 2px 1px var(--dark-shadow);
  border-radius: 26px;
}

.site-navigation-catalog {
  color: var(--basic-white);
  background: var(--accent-light);
  border-radius: 26px;
}

.site-navigation-item:hover, 
.user-navigation-item:hover, 
.item-search:hover {
  background: var(--basic-neutral);
  border-radius: 26px;
}

.site-navigation-item:hover>.site-navigation-link, 
.user-navigation-item:hover>.user-navigation-link, 
.item-search:hover {
  color: black;
}

.site-navigation-item:active {
  border-radius: 26px;
  background: var(--nav-catalog-active);
}

.user-navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

/*Пользовательская навигация*/

.user-navigation {
  display: flex;
  align-items: center;
  justify-self: right;
  line-height: 18px;
  padding: 16px 0;
	margin:0;
}

.user-navigation-item {
  color: var(--basic-white);
  background: var(--bas);
  border-radius: 20px;
}

.item-search {
  background-image: url('../img/index/icon_search.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.item-exit {
  background-image: url('../img/index/icon_exit.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.item-busket {
  background-image: url('../img/index/icon_shop.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.user-navigation-link {
  display: flex;
  padding: 6px 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-white);
  background: var(--basic-white-dimmed);
  border-radius: 20px;
}

.user-navigation, .user-navigation:focus {
  color: var(--basic-white);
  background: var(--white-nav-hover);
  background-origin: content-box;
}

.user-navigation:hover, .user-navigation:focus {
  color: var(--basic-dark);
  background: var(--white-nav-hover);
  background-origin: content-box;
}

/* Время работы и телефон*/

.header-contacts {
  width: 1146px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin:0 auto;
}

.header-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
}

/* Карусель*/

.promo-slider {
  padding-top: 323px;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 13px;
}

.slider-item {
  display: none;
}

.slider-item.slide-current {
  display: block;
}

.slider-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 37px;
}

.bg {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-1 {
  background-color: var(--background-1);
  background-image: url(./../img/index/icecream_carousel_1.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-2 {
  background-color: var(--background-2);
  background-image: url(./../img/index/icecream_carousel_2.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-3 {
  background-color: var(--background-3);
  background-image: url(./../img/index/icecream_carousel_3.png);
  background-position: top center;
  background-repeat: no-repeat;
}



.control {
  padding: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.control:hover {
  background-color: var(--basic-white-40);
}

.control:active {
  background-color: var(--basic-white);
}

.control-current:hover {
  background-color: var(--basic-white);
}

.control-current {
  background-color: var(--basic-white);
}

/* Промоакция */

.offers-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.offers-item-malina {
  background: url(../img/index/malina.png);
  background-repeat: no-repeat;
}

.offers-item-chocolate {
  background: url(../img/index/chocolate.png);
  background-repeat: no-repeat;
}

.offers-title {
	margin: 0;
	margin-bottom: 18px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;

}
.offers-title p {
	margin: 0;
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}
.offers-item {
	position: relative;
	max-width: 560px;
	padding: 17px 20px 20px 20px;
	margin-right: 3%;
	border-radius: 20px;
	box-sizing: border-box;
}

.offers-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  float: right;
}

/* хиты */

.hit-list {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hit-list-item {
  position: relative;
  max-width: 267px;
  min-width: 210px;
  padding-top: 6px;
  text-align: center;
}

.hit-list .product-img-contain::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  top: 8px;
  background: url(../img/index/hit_new.png);
}

.hit-list .product-cost {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-white);
}

.hit-list .product-weight {
  font-size: 30px;
  line-height: 45px;
  color: var(--basic-white);
}

.product-description {
  position: relative;
}

.product-description-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
  text-decoration: none;
}

.product-description-link:hover, .product-description-link:focus, .product-description-link:active {
  color: var(--special-accent);
}

.product-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: -14px;
	width: 100%;
	height: calc(100% + 50px);
	padding: 6px 14px 20px 14px;
	background: var(--basic-white-dimmed);
	border-bottom: 1px solid var(--basic-white-dimmed);
	border-radius: 4px;
	box-shadow: 0px 20px 20px 0px var(--basic-black-30);
	visibility: hidden;
}

.product-overlay .product-item-btn {
  margin-top: auto;
  max-width: 200px;
}

.hit-list-item:hover .product-overlay {
  visibility: visible;
}

/**/


/* Преимущества */

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  
}

.advantages-shop {
  color: var(--basic-dark);
  background-image: url('../img/index/wafer2.png ');
  background-repeat: no-repeat;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages-shop-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.item-icecream {
  background-image: url('../img/index/icon_icecream.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.item-organic {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../img/index/icon_organic.svg');
}

.item-cow {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../img/index/icon_cow.svg');
}

.item-therm {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../img/index/icon_therm.svg');
}

/* Блог и подписка */

.blog-and-subscription {
  margin-bottom: 40px;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}

.blog-background-strawberry {
  background: url('../img/index/strawberry.png');
  width: 560;
  height: 220;
  background-repeat: no-repeat;
}

.offers-item-chocolate {
  background: url('../img/index/chocolate.png');
  width: 560;
  height: 229;
  background-repeat: no-repeat;
}

.blog-title {
  color: var(--basic-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-link {
  font-weight: 700;
  color: var(--basic-dark);
  font-size: 24px;
  line-height: 30px;
}

.blog-link:hover, .blog-link:focus {
  color: var(--accent);
}

/* Карта */

.map {
	position: relative;
  width: 1200px;
  height: 430px;
  left: 0px;
}

.contacts {
	position: absolute;
	right: 27px;
	top: 60px;
  width: 303px;
  height: 306px;
	padding: 30px 25px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
  border-radius: 16px;
  color: var(--basic-dark);
  background-color: var(--additional-light);
}
.contacts-bold {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.map-icecreame {
  position: absolute;
  top: 160px;
  padding-left: 266px;
  
}

/*  Подписка  */

.subscription {
  width: 560px;
  height: 220px;
  background-color: var(--white-nav-hover);
  background-image: url("../img/index/bg-subscription.png");
  background-repeat: no-repeat;
}

.subscription-info {
  color: var(--basic-dark-dimmed);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscription-email {
  font-weight: 700;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

/*  Контакты  */

.contacts {
  width: 303px;
  height: 306px;
  color: var(--basic-dark);
  background-color: var(--additional-light);
  background-repeat: repeat;
}

/*  Футер  */

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 25px;
}

.footer-social-list {
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-info {
  justify-self: center;
}

.info-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 18px;
  justify-self: center;
}

.info-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.info-link:hover, 
.info-link:focus, 
.copyright-link:hover, 
.copyright-link:focus {
  color: var(--special-accent);
}

.heart-icon {
  position: absolute;
  content: "";
  top: 3px;
  left: -22px;
  height: 13px;
  width: 15px;
  fill: var(--basic-white);
}

.for-providers-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
}

.for-providers-link:hover .heart-icon {
  fill: var(--special-accent);
}

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: solid var(--basic-white-half);
  border-radius: 50%;
}

.social-link:hover, .social-link:focus {
  fill: var(--basic-white);
  border-color: var(--basic-white-70);
}

.social-link:hover, 
.social-link:focus, 
.social-link:active {
  border-color: var(--basic-white-70);
}

.social-link:active {
  fill: var(-footer-social-list);
  border-color: var(--basic-white-70);
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.inner-page .copyright {
  margin-top: 18px;
}

.main-page .copyright {
  margin-top: 19px;
}

.copyright-text {
  margin: 0;
}

.copyright-text a {
  color: inherit;
  border-bottom: 1px solid var(--basic-white-dimmed);
}

.copyright-text a:hover {
  color: var(--special-accent);
  text-shadow: 0px 4px 4px 0px var(--basic-black-25);
  border-color: var(--special-accent-dimmed);
}

.copyright-text a:active {
  color: var(--special-accent);
  border-color: var(--special-accent-dimmed);
}

/*  -------Страница каталога-------  */

/*  Хлебные крошки  */

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-white);
}

.breadcrumbs-item {
	position: relative;
	display: inline-block;
	margin-right: 22px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: var(--basic-white);
  border-bottom: var(--basic-white-30);
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus, .breadcrumbs-link:active {
  color: var(--special-accent);
}

/*  -------Фильтры-------  */

.filter {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 26px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 7px;
  padding-left: 15px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin-bottom: 12px;
  margin-right: 12px;
}

.filter-wrapper {
  background-color: var(--basic-white-dimmed);
  min-height: 36px;
  border-radius: 20px;
}

/* Фильтр: селекты */

.filter-select {
  height: 100%;
  color: inherit;
  background-color: transparent;
  font: inherit;
  border-radius: 20px;
  border: none;
  padding: 6px 6px 5px 14px;
  appearance: none;
}

.wrapper-select:hover .filter-select {
  color: var(--basic-dark);
}

.wrapper-select:hover path {
  fill: var(--basic-dark);
}

.filter-select:focus {
  outline: 0;
  background-color: transparent;
}

/* Фильтр: цены */

.range-controls {
  position: relative ;
  width: 218px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-neutral-50);
}

.range-controls .bar {
  height: 2px;
  background-color: var(--basic-neutral);
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 7px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-neutral-dark);
  border-radius: 50%;
  cursor: pointer;
}

.input-price {
  margin: 0;
  padding: 0;
  margin-left: 2px;
  width: 30px;
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

/* Фильтр: радиокнопки */

.radio .filter-wrapper {
  padding: 9px 17px 0 47px;
}

.filter-radio {
  display: flex;
  flex-wrap: wrap;
}

.filter-radio li {
  margin-right: 52px;
  margin-bottom: 7px;
}

.filter-radio li:last-child {
  margin-right: 0;
}

.filter-radio label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border: 4px solid var(--basic-white-80);
  border-radius: 50%;
  bottom: -2px;
  left: -33px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white-80);
  border-radius: 50%;
}

/* Фильтр: чекбоксы */

.checkbox .filter-wrapper {
  padding: 8px 25px 0 45px;
  margin-top: 3px;
}

.filter-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.filter-checkbox li {
  margin-right: 54px;
  margin-bottom: 8px;
}

.filter-checkbox li:last-child {
  margin-right: 0;
}

.filter-checkbox label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -2px;
  left: -31px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -31.5px;
  top: 0;
  width: 24px;
  height: 20px;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

/* Фильтр: кнопки  */

.filter-button {
  padding: 6px 28px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-white-dimmed);
  border: 2px solid var(--basic-white);
  text-align: center;
  border-radius: 20px;
  align-self: flex-end;
  margin-bottom: 14px;
}

.filter-button:hover,
.filter-button:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px var(--dark-shadow);
  border: none;
}

/* Пагинация */

.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  list-style: none;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination-item {
  margin-left: 4px;
}

.pagination-list .previous {
  margin-right: 12px;
}

.pagination-list .next {
  margin-left: 18px;
}

.pagination-link {
  display: block;
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: var(--basic-white-dimmed);
}

.pagination-link.current,
.pagination-link:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.pagination-icon {
  color: inherit;
}

.pagination-icon.previous {
  transform: rotate(180deg);
}

.pagination-icon.disabled path{
  fill-opacity: 0.2;
}


/*flud*/
